body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.navbar { background: #424242;
padding: 15px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    padding-left: 20px;
}

.nav-links {
    display:flex;
    gap:50px;
    padding-right:25px;

}

.nav-links a {
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-weight:bold;
}

.header {
    font-size:25px;
    color:rgb(240, 240, 240);
    margin: 20px 0;
}

div { 
    font-size: 20px;
    
}