a:active{
    font-size: 2em;
    color: cadetblue;
    letter-spacing: 13px;

}
div{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
}
div :hover{
    width: 300px;
    height: 300px;
}